.DS_Store

# dotenv environment variables file
.env

# logs file
logs/*

.idea/

.dapp

dump.rdb

/**/*openapi.json
/**/*dapp-documentation.html
specs/index.html

yarn-error.log

.vscode/
storage/logs/*
storage/tmp/*

!.gitkeep
system.config.js

# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
